# Files
*.cab
css/css.css.map
*scss
*.msi
*.msm
*.msp
Thumbs.db
ehthumbs.db
Desktop.ini

#Folders
testes-e-outros-sites
$RECYCLE.BIN/
css/.sass-cache

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
