RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://(www\.)?softech.hol.es/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://localhost/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?google.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?google.com.br/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?bing.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?yahoo.com/.*$ [NC]
RewriteRule \.(gif|jpg|png|ico)$ – [F]
ErrorDocument 404 /erro/pagina-nao-encontrada.php
ErrorDocument 403 /erro/acesso-nao-autorizado.php
RewriteBase /