*{outline:none;}
body{
	margin:0px; width:100%; height:100%;
	color:#444;
	overflow-x:hidden;}
/* Topo */
#topo{max-width:100%; height:420px;}
#bg-logo-softech{
	max-width:100%; height:300px;
	padding:0px;
	background:linear-gradient(#BBB -30%,#FFF 40%,#FFF 60%,#BBB 130%);
	-pie-background:linear-gradient(#BBB -30%,#FFF 40%,#FFF 60%,#BBB 130%);
	background:-webkit-linear-gradient(#BBB -30%,#FFF 40%,#FFF 60%,#BBB 130%);
	behavior:url(pie.htc);}
#logo-softech{
	top:20px; left:50%;
	margin-left:-130px;
	position:absolute;}/* Fim do Topo */
/* Menu */
#menu{
	max-width:100%; height:120px;
	background:#5071F4;}
#menu img{
	height:80px;
	margin-top:20px;}/* Fim do Menu */
/* Corpo */
#corpo{margin-top:50px; padding:0px;}/* Fim do Corpo */
/* Rodapé */
#rodape{
	margin-top:50px;
	width:100%; height:100px;
	color:#BDCBF9;
	background:#5071F4;
	cursor:default;
	float:left;
	overflow:hidden;}
#rodape span{
	padding:5px;
	border-radius:5px;}
#rodape #copyright{
	font-size:30pt;
	width:100%; height:100px;
	float:left;
	margin-top:28px;
	text-align:center;}